.flex {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  align-items: center;
  flex-wrap: wrap;
}
.flex button {
  padding: 0.4rem;
  width: 90px;
  height: 30px;
}
.switch {
  display: block;
}
@media screen and (max-width: 557px) {
  .switch {
    display: none;
  }
}
